body {
    font-family: sans-serif;
    font-size: 12px;
}
.main {
    position: absolute;
    width: 640px;
    height: 427px;
    top: 50%;
    left: 50%;
    margin-left: -320px;
    margin-top: -213px;
}